<h1>Heroes of Shake-It-Speare</h1>
<nav><button>Home</button><button>Instructions</button><button>Create New Player 
</button><button>Login</button></nav>
<h2>Top Heroes</h2>
<table>
	<tr>
		<td>Rank</td>
		<td>Power</td>
		<td>Player</td>
		<td>Hero's Mantra</td>
	</tr>
	<tr>
		<td>1</td>
		<td>3</td>
		<td>Zom</td>
		<td>"Challenges itself as honour!"</td>
	</tr>
	<tr>
		<td>2</td>
		<td>2</td>
		<td>Romeo</td>
		<td>"Ambassadors from rome."</td>
	</tr>
	<tr>
		<td>3</td>
		<td>1</td>
		<td>Weird Sisters</td>
		<td>"Dunsinane he strongly fortifies."</td>
	</tr>
</table>