<!DOCTYPE html>
<html>
<head>
	<title>Heroes of Shake-It-Speare - Player Page</title>
	<link rel="stylesheet" href="/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

	<h1>Heroes of Shake-It-Speare</h1>
	<nav><button>Home</button><button>Instructions</button></nav>
	<h2>Player Page</h2>
	<h3>Welcome Zom!</h3>
	<h3>Your Current Hero</h3>
	<table>
		<tr>
			<td>Rank</td>
			<td>Power</td>
			<td>Hero's Mantra</td>
		</tr>
		<tr>
			<td>1</td>
			<td>3</td>
			<td>"Challenges itself as honour!"</td>
		</tr>
	</table>
	<button>Make New Hero</button>
	<div>Warning! This will delete your old hero.</div>
	<table>
		<tr>
			<td>Rank</td>
			<td>Power</td>
			<td>Hero's Mantra</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
			<% var x = "!!!!!!!!!!" %>
			<td>"<%= x %>"</td>
		</tr>
	</table>
	<button>Keep New Hero</button>

	<script type="text/javascript" src="/playerPage.js"></script>
	<!-- <script type="text/javascript" src="../public/js/app.js"></script> -->
</body>
</html>









